<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<dict>
		<key>selector</key>
		<string>setImage:</string>
		<key>class</key>
		<string>UIImage</string>
	</dict>
	<key>highlighted-image</key>
	<dict>
		<key>selector</key>
		<string>setHighlightedImage:</string>
		<key>class</key>
		<string>UIImage</string>
	</dict>
	<key>top</key>
	<dict>
		<key>selector</key>
		<string>setTop:</string>
		<key>class</key>
		<string>float</string>
	</dict>
	<key>left</key>
	<dict>
		<key>selector</key>
		<string>setLeft:</string>
		<key>class</key>
		<string>float</string>
	</dict>
	<key>width</key>
	<dict>
		<key>selector</key>
		<string>setWidth:</string>
		<key>class</key>
		<string>float</string>
	</dict>
	<key>height</key>
	<dict>
		<key>selector</key>
		<string>setHeight:</string>
		<key>class</key>
		<string>float</string>
	</dict>
	<key>image:*</key>
	<dict>
		<key>selector</key>
		<string>setImage:forState:</string>
		<key>class</key>
		<string>UIImage</string>
	</dict>
	<key>alpha</key>
	<dict>
		<key>selector</key>
		<string>setAlpha:</string>
		<key>class</key>
		<string>float</string>
	</dict>
	<key>background-image:*</key>
	<dict>
		<key>selector</key>
		<string>setBackgroundImage:forState:</string>
		<key>class</key>
		<string>UIImage</string>
	</dict>
	<key>background-color</key>
	<dict>
		<key>selector</key>
		<string>setBackgroundColor:</string>
		<key>class</key>
		<string>UIColor</string>
	</dict>
	<key>font</key>
	<dict>
		<key>selector</key>
		<string>setFont:</string>
		<key>class</key>
		<string>UIFont</string>
	</dict>
	<key>text-color:*</key>
	<dict>
		<key>selector</key>
		<string>setTitleColor:forState:</string>
		<key>class</key>
		<string>UIColor</string>
	</dict>
	<key>text-color</key>
	<dict>
		<key>selector</key>
		<string>setTextColor:</string>
		<key>class</key>
		<string>UIColor</string>
	</dict>
	<key>text-align</key>
	<dict>
		<key>selector</key>
		<string>setTextAlignment:</string>
		<key>class</key>
		<string>int</string>
	</dict>
</dict>
</plist>
